*{margin: 0; padding: 0;}
li{list-style: none;}
a{color: #222; text-decoration: none;}
img{display: block; width: 100%; height: auto;}
html{
  font-family: 'Pretendard', sans-serif;
  width: 100%;
  overflow-x: hidden;
}
.mb{margin-bottom: 100px;}
section{
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 30px;
  height: 100vh;
  .subtitle{
    position: relative;
    margin-bottom: 40px;
    p{
      &:first-child{
        font-size: 5rem;
        color: #eee;
        font-weight: bold;
      }
      &:last-child{
        position: absolute;
        bottom: -10px; left: 70px;
        font-size: 3rem;
        color: #222;
      }
    }
  }
}
// ------- common -------
$font-default: #222;
$font-grey: #444;
$font-middle-grey: #555;
$font-light-grey:#777;
$font-white: white;
$point-color:#3B82F6;
$default-color:#6EA8E8;
$bg: #f8f8f8;
$title-num:#eee;
@mixin adv{
  color: $default-color;
  font-weight: lighter;
}
// ------- common -------//
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  .home_inner{
    .title{
      width: 730px;
      position: relative;
      font-style: italic;
      margin: 0 auto;
      h1{
        margin-bottom: 135px;
        font-size: 6.25rem;
      }
      .name{
        position: absolute;
        width: 195px; height: 185px;
        background-color: $point-color;
        top: -50px; right: 0;
        p{
          font-size: 2.5rem;
          font-weight: bold;
          display: block;
          color: $font-white;
          margin-left: 10px;
          &:first-child{
            margin-top: 85px;
          }
        }
      }
    }
    .title_bottom{
      width: 730px;
      margin: 0 auto;
      p{
        opacity: 0;
        font-size: 1.1rem;
      }
    }
  }
}
.profile{
  position: relative;
  .subtitle{
    p{
    }
  }
  .outer{
    display: flex;
    justify-content: space-between;
    .inner_left{
      .img{
        width: 325px; height: 415px;
        img{
          width: 100%; height: 100%;
        }
      }
    }
    .inner_right{
      input{display: none;}
      .tab{
        label{
          background-color: $bg;
          padding: 10px 30px;
          line-height: 38px;
        }
        .info{
          clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
          border-radius: 10px 0 0 0;
        }
        .act{
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
          border-radius: 0 10px 0 0;
          margin-left: -23px;
        }
      }
      .tab_box01{
        .text_title{
          float: left;
          font-size: 1.3rem;
          font-weight: 400;
          margin: 0 80px;
          li{
            padding-top: 30px;
            &:last-child{
              padding-top: 50px;
              padding-bottom: 60px;
            }
          }
        }
        .text_text{
          font-size: 1.0rem;
          font-weight: 300;
          padding-top: 35px;
          &:last-child{
            padding-top: 22px;
          }
        }
      }
      .tab_box02{
        .text_title{
          font-size: 1.3rem;
          font-weight: 400;
          margin: 0 80px;
          li{
            padding: 30px 0;
          }
        }
        .text_text{
          font-size: 1.0rem;
          font-weight: 300;
          margin: 0 100px;
          li{
            padding-top: 20px;
            list-style: disc;
          }
        }
      }
      .tab_box01,
      .tab_box02{
        display: none;
        width: 868px; height: 420px;
        background-color: $bg;
        border-radius: 0 20px 20px 20px;
        position: relative;
        .hover{
          @include adv;
          display: none;
          position: absolute;
        }
      }
      #info:checked ~ .tab_box01,
      #act:checked ~ .tab_box02{
        display: block;
      }
      #info:checked ~ .tab .info,
      #act:checked ~ .tab .act{
        background-color: $default-color;
        color: $font-white;
      }
      #act:checked ~ .tab_box02 .hover{
        display: block;
        top: -60px; left: -15px;
        transform: rotate(-15deg);
      }
      #info:checked ~ .tab_box01 .hover{
        display: block;
        top: -60px; left: 145px;
        transform: rotate(15deg);
      }
      #act:checked ~ .tab .info{
          clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
      }
      #act:checked ~ .tab .act{
        clip-path: polygon(16% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
    }
    .todo{
      width: 325px;
      margin-top: 30px;
      position: relative;
      display: flex;
      justify-content: space-around;
      .hover{
        @include adv();
        position: absolute;
        top: -20px; left: 10px; 
        transform: rotate(-15deg);
      }
      .todo_puzzle01,
      .todo_puzzle02,
      .todo_puzzle03{
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
        position: relative;
        img{
          width: 42px;
          margin-bottom: 20px;
        }
        .todo_text01{
          margin-left: -42px;
        }
        .todo_text02{
          margin-left: -108px;
        }
        .todo_text03{
          margin-left: -48px;
        }
        .todo_text01, .todo_text02, .todo_text03{
          display: none;
          text-align: center;
          background-color: $title-num;
          padding: 8px;
          position: absolute;
          border-radius: 10px;
          width: max-content;
          &::before{
            content: '';
            position: absolute;
            top: -10px;
            left: calc((100% - 30px)/2);
            clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
            background-color: $title-num;
            width: 30px;
            height: 15px;
          }
          p{
            color: $font-light-grey;
            &:first-child{
            }
          }
        }
      }
      .todo_puzzle01 img:hover ~ .todo_text01{
        display: block;
      }
      .todo_puzzle02 img:hover  ~.todo_text02{
        display: block;
      }
      .todo_puzzle03 img:hover ~ .todo_text03{
        display: block;
      }
      .todo_puzzle01 img:hover,
      .todo_puzzle02 img:hover,
      .todo_puzzle03 img:hover{
        content: url('./images/puzzle_3B82F6.png');
        transform: rotate(45deg);
      }
    }
  }
  .wrap{
    overflow: hidden;
    display: flex;
    font-size: 4rem;
    color: $font-white;
    -webkit-text-stroke: 1px $default-color;
    font-weight: bold;
    width: 10010px;
    position: absolute;
    bottom: 100px; left: -300px;
    .slogan{
      &.original{
        animation: rolling01 90s linear infinite;
      }
      &.clone{
        animation: rolling02 90s linear infinite;
      }
      @keyframes rolling01{
        0%{transform: translateX(0);}
        50%{transform: translateX(-100%);}
        51%{transform: translateX(100%);}
        100%{transform: translateX(0);}
      }
      @keyframes rolling02{
        0%{transform: translateX(0);}
        100%{transform: translateX(-200%);}
      }
      ul{
        display: flex;
        li{
          display: flex;
          align-items: center;
          // flex-shrink: 0;
          margin-right: 35px;
        }
      }
    }
  }
}
.subtitle{}
.skill{
  position: relative;
  .skill_box{
    display: flex;
    width: 1280px; height: 160px;
    border-radius: 20px;
    box-shadow: 5px;
    background-color: $bg;
    margin-bottom: 30px;
    align-items: center;
    .box_left01,
    .box_left02,
    .box_left03{
      position: relative;
      text-align: center;
      margin: 0 100px;
      padding: 10px;
      .hover{
        position: absolute;
        @include adv;
        top: -10px;left: -15px;
        transform: rotate(-15deg);
      }
      img{
        width: 100px; height: 80px;
        margin-bottom: 5px;
      }
      .language{height: 90px;}
      p{
      }
    }
    .box_right{
      flex: 1;
      display: flex;
      gap: 80px;
      div{
        text-align: center;
        img{
          width: 80px; height: 80px;
          margin-bottom: 5px;
        }
        p{font-weight: 200;}
      }
    }
    .box_left01:hover ~ .markup_popup{display: flex;}
    .box_left02:hover ~ .language_popup{display: flex;}
    .box_left03:hover ~ .frontend_popup{display: flex;}
    .markup_popup, .language_popup, .frontend_popup{
      top: 0; 
      left: (calc((1280px - 100vw)/2));
      position: absolute;
      width: 100vw; height: 100vh;
      background-color: rgb(59, 130, 246, 0.2);
      display: none;
      align-items: center;
      justify-content: center;
      .popup_outer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 772px; height: 322px;
        background-color: $bg;
        border-radius: 20px;
        .popup_left{
          text-align: center;
          margin-right: 50px;
          img{width: 120px;}
          p{font-size: 1.2rem;}
        }
        .popup_right{}
      }
    }
  }

}
.project{
  .subtitle{}
  input{display: none;}
  .project_tab{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 35px;
    .hover{
      @include adv;
      position: absolute;
      top: -20px; left: -20px;
      transform: rotate(-15deg);
    }
    label{
      cursor: pointer;
      img{
        width: 65px; height: 65px;
        margin-right: 20px;
      }
    }
    label.active{
      display: flex;
      img{
        content: url('./images/puzzle_3B82F6.png');
        transform: rotate(45deg);
        margin-top: -10px;
      }
    }
    label.project01.active ~ .project01_title,
    label.project02.active ~ .project02_title,
    label.project03.active ~ .project03_title,
    label.project04.active ~ .project04_title {
      display: block;
      background-color: $point-color;
    }
    label.project01 img:hover,
    label.project02 img:hover,
    label.project03 img:hover,
    label.project04 img:hover {
      display: block;
        transform: rotate(45deg);
        margin-top: -10px;
    }
    .project01_title,
    .project02_title,
    .project03_title,
    .project04_title{
      display: none;
      background-color: $default-color;
      border-radius: 10px;
      color: $font-white;
      padding: 10px 25px;
      text-align: center;
      p{
        float: left;
        margin-right: 5px;
        font-size: 0.9rem;
        font-weight: 200;
      }
      span{
      }
      margin-right: 20px;
    }
    .project01:hover ~ .project01_title{display: block;}
    .project02:hover ~ .project02_title{display: block;}
    .project03:hover ~ .project03_title{display: block;}
    .project04:hover ~ .project04_title{display: block;}
  }
  .project_box{
    width: 100%; height: 500px;
    background-color: $bg;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 10px;
    display: none;
    .project_inner{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex: 1;
      .project_left{
        p{
          font-size: 1.3rem;
          font-weight: 400;
          margin-bottom: 30px;
        }
        hr{margin-bottom: 30px;}
        .text_top,
        .text_bottom{
          display: flex;
          .text_left{
            font-size: 1.3rem;
            font-weight: 400;
            li{
              margin-bottom: 16px;
            }
          }
          .text_right{
            margin-top: 4px;
            font-size: 1.0rem;
            font-weight: 300;
            margin-left: 30px;
            li{
              margin-bottom: 22px;
            }
          }
        }
        .text_bottom{}
      }
    }
    .project_right:first-child{
      background-color: red;
    }
    .project_right{
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      align-items: center;
      justify-content: center;
      background-color: #D7E3FF;
      width: 435px; height: 400px;
      div{
        img{
          width: 360px; height: 250px;
          margin-bottom: 30px;
        }
      }
      .icon_box{
        display: flex;
        justify-content: right;
        align-items: center;
        width: 340px;
        color: $default-color;
        i{
          margin-left: 10px;
          font-size: 1.6rem;
        }
      }
    }
    .fa-solid{
      font-size: 2.8rem;
      color: $default-color;
    }
    i:hover{
      color: $point-color;
    }
  }
  .project_box.active{
    display: flex;
  }
  .project_box04{
    .project_right{
      div{
        img{width: 320px;height: 300px;}
      }
    }
  }
}
.contact{
  .puzzle01,
  .puzzle02,
  .puzzle03,
  .puzzle04{
    position: relative;
    width: calc((100% - 400px)/2);
    div:first-child{
    }
    div:last-child{
      position: absolute;
    }
  }
  .puzzle03{
    .puzzle03_inner{
      img{
        width: 320px;
      }
    }
  }
}